{% extends 'backoffice_base.html.twig' %}

{% block title %}Skill{% endblock %}

{% block body %}
    <div class="page" data-current="competences"></div>
    <h1>Skill</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ skill.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ skill.name }}</td>
            </tr>
            <tr>
                <th>Descriptive</th>
                <td>{{ skill.descriptive }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_skill_type_index') }}">back to list</a>

    <a href="{{ path('app_skill_type_edit', {'id': skill.id}) }}"><img src="{{asset('build/img/edit-icon.svg')}}" alt="icon edit" title="Modifier l'entité"></a>

    {{ include('skill_type/_delete_form.html.twig') }}

    {% block javascripts %}
        {{ encore_entry_script_tags('backoffice') }}
        {{parent()}}
    {% endblock %}
{% endblock %}
