{% extends 'backoffice_base.html.twig' %}

{% block title %}Condition{% endblock %}

{% block body %}
    <div class="page" data-current="conditions"></div>
    <h1>Condition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ condition.id }}</td>
            </tr>
            <tr>
                <th>Descriptive</th>
                <td>{{ condition.descriptive }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_condition_type_index') }}">back to list</a>

    <a href="{{ path('app_condition_type_edit', {'id': condition.id}) }}"><img src="{{asset('build/img/edit-icon.svg')}}" alt="icon edit" title="Modifier l'entité"></a>

    {{ include('condition_type/_delete_form.html.twig') }}

    {% block javascripts %}
        {{ encore_entry_script_tags('backoffice') }}
        {{parent()}}
    {% endblock %}
{% endblock %}
