{% extends 'backoffice_base.html.twig' %}

{% block title %}Format index{% endblock %}

{% block body %}
    <div class="page" data-current="format"></div>
    <div class="d-flex justify-content-between mb-5">
        <h1>Format</h1>
        <a href="{{ path('app_format_type_new') }}"><img src="{{asset('build/img/plus-icon.svg')}}" alt="icon plus" title="Ajouter un format"></a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for format in formats %}
            <tr>
                <td>{{ format.name }}</td>
                <td>
                    <div class="d-flex justify-content-around">
                        <a href="{{ path('app_format_type_show', {'id': format.id}) }}"><img src="{{asset('build/img/show-icon.svg')}}" class="me-2" alt="icon show" title="Voir l'entité"></a>
                        <a href="{{ path('app_format_type_edit', {'id': format.id}) }}"><img src="{{asset('build/img/edit-icon.svg')}}" alt="icon edit" title="Modifier l'entité"></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% block javascripts %}
        {{ encore_entry_script_tags('backoffice') }}
        {{parent()}}
    {% endblock %}
{% endblock %}
