{% extends 'base.html.twig' %}

{% block title %}Format index{% endblock %}

{% block body %}
    <h1>Format index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for format in formats %}
            <tr>
                <td>{{ format.id }}</td>
                <td>{{ format.name }}</td>
                <td>
                    <a href="{{ path('app_format_type_show', {'id': format.id}) }}">show</a>
                    <a href="{{ path('app_format_type_edit', {'id': format.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_format_type_new') }}">Create new</a>
{% endblock %}
