{% extends 'base.html.twig' %}

{% block title %}Format{% endblock %}

{% block body %}
    <h1>Format</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ format.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ format.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_format_type_index') }}">back to list</a>

    <a href="{{ path('app_format_type_edit', {'id': format.id}) }}">edit</a>

    {{ include('format_type/_delete_form.html.twig') }}
{% endblock %}
