{% extends 'backoffice_base.html.twig' %}

{% block title %}Code index{% endblock %}

{% block body %}
    <div class="page" data-current="codes"></div>
    <div class="d-flex justify-content-between mb-5">
        <h1>Codes</h1>
        <a href="{{ path('app_code_type_new') }}"><img src="{{asset('build/img/plus-icon.svg')}}" alt="icon plus" title="Ajouter un code"></a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Titre</th>
                <th>Hiérarchie</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for code in codes %}
            <tr>
                <td>{{ code.identifier }}</td>
                <td>{{ code.title }}</td>
                <td>
                {% if code.isMain %}
                    Code principal
                {% else %}
                    Code secondaire
                {% endif %}</td>
                <td>
                    <div class="d-flex justify-content-around">
                        <a href="{{ path('app_code_type_show', {'id': code.id}) }}"><img src="{{asset('build/img/show-icon.svg')}}" class="me-2" alt="icon show" title="Voir l'entité"></a>
                        <a href="{{ path('app_code_type_edit', {'id': code.id}) }}"><img src="{{asset('build/img/edit-icon.svg')}}" alt="icon edit" title="Modifier l'entité"></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% block javascripts %}
        {{ encore_entry_script_tags('backoffice') }}
        {{parent()}}
    {% endblock %}
{% endblock %}
