{% extends 'backoffice_base.html.twig' %}

{% block title %}Code{% endblock %}

{% block body %}
    <div class="page" data-current="codes"></div>
    <h1>Code</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ code.id }}</td>
            </tr>
            <tr>
                <th>Identifier</th>
                <td>{{ code.identifier }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ code.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_code_type_index') }}">back to list</a>

    <a href="{{ path('app_code_type_edit', {'id': code.id}) }}"><img src="{{asset('build/img/edit-icon.svg')}}" alt="icon edit" title="Modifier l'entité"></a>

    {{ include('code_type/_delete_form.html.twig') }}

    {% block javascripts %}
        {{ encore_entry_script_tags('backoffice') }}
        {{parent()}}
    {% endblock %}
{% endblock %}
