{% extends 'backoffice_base.html.twig' %}

{% block title %}Code | Aperçu{% endblock %}

{% block body %}
    <div class="page" data-current="codes"></div>
    <div class="d-flex justify-content-between mb-5 col-lg-10">
        <div class="d-flex">
            <h1>Code | Aperçu</h1>
            {{ include('code_type/_delete_form.html.twig') }}
        </div>
        <div class="d-flex">
            <a class="mt-3" href="{{ path('app_code_type_edit', {'id': code.id}) }}"><img src="{{asset('build/img/edit-icon.svg')}}" alt="icon edit" title="Modifier l'entité"></a>
            <a class="mt-3 ms-3" href="{{ path('app_code_type_index') }}"><img src="{{asset('build/img/back-icon.svg')}}" alt="icon back" title="Retour en arrière"></a>
        </div>
    </div>

    <div class="col-lg-10">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ code.id }}</td>
                </tr>
                <tr>
                    <th>Identifiant</th>
                    <td>{{ code.identifier }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ code.title }}</td>
                </tr>
                <tr>
                    <th>Hiérarchie</th>
                    <td>
                        {% if code.isMain %}
                            Code principal
                        {% else %}
                            Code secondaire
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Compétences</th>
                    <td>
                        {% for skill in code.skills %}
                            {{skill}}<br/>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Formations liées</th>
                    <td>
                        {% for formation in code.formations %}
                            {{formation}}<br/>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('backoffice') }}
        {{parent()}}
    {% endblock %}
{% endblock %}
