{{ form_start(form) }}
    {% form_theme form 'bootstrap_5_layout.html.twig' %}

    <div class="row mt-4">
        <div class="col-lg-10">
            {{ form_label(form.name, "Nom du métier :") }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>   
    </div>

    <div class="row mt-4">
        <div class="col-lg-10">
            {{ form_label(form.formations, "Formations liées :") }}
            {{ form_widget(form.formations) }}
            {{ form_errors(form.formations) }}
        </div>   
    </div>

    <div class="row mt-2">
        <div class="col-lg-10 d-flex justify-content-end">
            <button class="btn btn-primary my-3">{{ button_label|default('Sauvegarder') }}</button>
        </div>
    </div>
{{ form_end(form) }}
