{% extends 'backoffice_base.html.twig' %}

{% block title %}Edit Job{% endblock %}

{% block body %}
    <div class="page" data-current="metiers"></div>
    <div class="d-flex justify-content-between mb-5 col-lg-10">
        <div class="d-flex">
            <h1>Éditer un métier</h1>
            {{ include('job_type/_delete_form.html.twig') }}
        </div>
        <a class="mt-3" href="{{ path('app_job_type_index') }}"><img src="{{asset('build/img/back-icon.svg')}}" alt="icon back" title="Retour en arrière"></a>
    </div>

    {{ include('job_type/_form.html.twig', {'button_label': 'Modifier'}) }}

    {% block javascripts %}
        {{ encore_entry_script_tags('backoffice') }}
        {{parent()}}
    {% endblock %}
{% endblock %}
