{% extends 'backoffice_base.html.twig' %}

{% block title %}Job index{% endblock %}

{% block body %}
    <div class="page" data-current="metiers"></div>
    <div class="d-flex justify-content-between mb-5">
        <h1>Métiers</h1>
        <a href="{{ path('app_job_type_new') }}"><img src="{{asset('build/img/plus-icon.svg')}}" alt="icon plus" title="Ajouter un métier"></a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.name }}</td>
                <td>
                    <div class="d-flex justify-content-around">
                        <a href="{{ path('app_job_type_show', {'id': job.id}) }}"><img src="{{asset('build/img/show-icon.svg')}}" class="me-2" alt="icon show" title="Voir l'entité"></a>
                        <a href="{{ path('app_job_type_edit', {'id': job.id}) }}"><img src="{{asset('build/img/edit-icon.svg')}}" alt="icon edit" title="Modifier l'entité"></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% block javascripts %}
        {{ encore_entry_script_tags('backoffice') }}
        {{parent()}}
    {% endblock %}
{% endblock %}
