<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{asset('build/img/logo.svg')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
      
        <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-white p-0">
          <div class="container-fluid pe-0">
            <a class="navbar-brand" href="#">
              <img src="{{asset('build/img/logo.svg')}}" style="width: 75px;" alt="logo">
            </a>
            <button type="button" onclick="location.href='{{path('app_login')}}';" class="btn btn-light px-4" style="z-index: 1;">Connexion</button>
            <div class="d-flex position-absolute end-0">
              <div class="d-flex position-absolute end-0">
                <div id="nav-motif-triangle2"></div>
                <div id="nav-motif2" class="bg-dark-primary"></div>
              </div>
              <div class="d-flex">
                <div id="nav-motif-triangle"></div>
                <div id="nav-motif" class="bg-primary"></div>
              </div>
            </div>
          </div>
        </nav>

        {% block body %}{% endblock %}
    </body>
</html>
