{% extends 'base.html.twig' %}

{% block title %}Formation | {{ training.name }}{% endblock %}

{% block body %}

<div class="container py-5">
  <div class="row">
    <h1 class="primary">{{ training.name|upper }}</h1>
    <h3>Equivalence BAC+{{ training.studiesLevel }}</h3>
    {% for format in training.formats %}
    <h4> {{ format.name }} </h4>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col col-9 pt-5 pb-5">
      {% for code in training.codes %}
        {# {% if isnot code.isMain %} #}
          <div class="row">
            <div class="col-lg-3 border-start border-end border-primary-subtl">
              <h6><strong>{{ code.identifier }}</strong></h6>
              <p>{{ code.title }}</p>
            </div>
            <div class="col-lg-9">
            <p> {% for skill in code.skills %}{{ skill.descriptive | nl2br }}<br />{% endfor %} </p>
            </div>
          </div>
        {# {% endif %} #}
      {% endfor %}
    </div>
    <div class="d-none d-lg-block col col-2 pt-5 pb-5 text-center">
      <div class="card bg-primary white mb-3" style="max-width: 18rem;">
        <div class="card-header">Durée de la formation</div>
        <div class="card-body">
          <p class="card-text">{{ training.duration }} H 00</p>
        </div>
      </div>
      <div class="card bg-primary white mb-3" style="max-width: 18rem;">
        <div class="card-header">Resultats</div>
        <div class="card-body">
          <p class="card-text">XX %</p>
        </div>
      </div>
      <div class="card bg-primary white mb-3" style="max-width: 18rem;">
        <div class="card-header">Certifications</div>
        <div class="card-body">
          <p class="card-text">{{ training.codes | length }} RNCP</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-align-center">
    <div class="col-lg-6">
      <div class="row"><strong class="primary fs-5">
        Conditions d'admissions
        </strong>
        <ul>
          {% for condition in training.conditions %}
          <li>{{ condition }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="row"><strong class="primary fs-5">
        Frais de scolarite
        </strong>
        <ul>
          {% for cost in training.costs %}
          <li>{{ cost }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row"><strong class="primary fs-5">
        Metiers visées
        </strong>
        <ul>
          {% for job in training.jobs %}
          <li>{{ job }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="row"><strong class="primary fs-5">
        Lieu de formation
        </strong>
        <ul>
          {% for location in training.locations %}
          <li>{{ location.line1 }} - {{ location.line2 }} - {{ location.zipcode }} - {{ location.city }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="d-flex flex-wrap d-lg-none pt-5 pb-5 text-center">
        <div class="card bg-primary white mb-3 mx-auto w-75" style="max-width: 18rem;">
          <div class="card-header">Durée de la formation</div>
          <div class="card-body">
            <p class="card-text">{{ training.duration }} H 00</p>
          </div>
        </div>
        <div class="card bg-primary white mb-3 mx-auto w-75" style="max-width: 18rem;">
          <div class="card-header">Resultats</div>
          <div class="card-body">
            <p class="card-text">XX %</p>
          </div>
        </div>
        <div class="card bg-primary white mb-3 mx-auto w-75" style="max-width: 18rem;">
          <div class="card-header">Certifications</div>
          <div class="card-body">
            <p class="card-text">{{ training.codes | length }} RNCP</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
