{% extends 'backoffice_base.html.twig' %}

{% block title %}Edit Cost{% endblock %}

{% block body %}
    <div class="page" data-current="frais"></div>
    <h1>Edit Cost</h1>

    {{ include('cost_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cost_type_index') }}">back to list</a>

    {{ include('cost_type/_delete_form.html.twig') }}

    {% block javascripts %}
        {{ encore_entry_script_tags('backoffice') }}
        {{parent()}}
    {% endblock %}
{% endblock %}
